{% extends 'base.html' %}

{% block title %} Completed Tasks {% endblock %}

{% block content %}
    <h1>Completed Tasks</h1>

    <div class="container mt-5">

        <table class="table">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>

            <tbody>
                {% for task in completed_task %}
                <tr>
                    <td>{{ task.task_title }}</td>
                    <td>{{ task.task_description }}</td>
                    <td>Completed</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <a href="{% url 'show_task' %}" class="btn btn-secondary">Back to Tasks List</a>
    </div>
{% endblock %}