{% comment %} {% extends "base.html" %}

{% block title %}My Custom Form{% endblock %}
{% block heading %}My Custom Form{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {{ form.name.label_tag }} {{ form.name }}
        {{ form.name.errors }}
    </div>

    <div class="fieldWrapper">
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.email.errors }}
    </div>

    <div class="fieldWrapper">
        {{ form.age.label_tag }} {{ form.age }}
        {{ form.age.errors }}
    </div>

    <div class="fieldWrapper">
        {{ form.comments.label_tag }} {{ form.comments }}
        {{ form.comments.errors }}
    </div>

    <input type="submit" value="Submit">
</form>
{% endblock %} {% endcomment %}
