

{% extends "base.html" %}
{% load time_filters %}

{% block title %}View Questions{% endblock %}
{% block content %}
    <div>
        <div class="container text-center mt-3">
        <h2>Questions of {{ course.title }}</h2>
            {{course.semester}}-{{course.year}}, 
            Dept. of {{course.department.name}},
            {{course.university.name}}
    </div>

    <br>

    <div class="row">
        {% for qs in questions %}
        <div class="col-sm-3 mb-4">
            <div class="card">
                <div class="card-body" style="height: 200px; overflow: hidden;">
                    <h5 class="card-title">{{ qs.exam_name }} ({{ qs.session }})</h5>
                    <p class="card-text">Uploaded by {{ qs.uploaded_by.username }}</p>
                    {% comment %} <div class="image-preview">
                        <img src="{{ qs.question_file.url }}" class="img-fluid" alt="Question Image Preview">
                    </div> {% endcomment %}

                    <p>{{ qs.upload_time|time_ago }} ago
                    </p>

                    <a href="{{ qs.question_file.url }}" target="_blank" class="btn btn-primary" data-toggle="modal" data-target="#imageModal{{ qs.id }}">
                        <i class="far fa-eye"></i> View Question
                    </a>
                </div>
            </div>
        </div>

        <!-- Modal -->
        {% comment %} <div class="modal fade" id="imageModal{{ qs.id }}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">Question Image</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ qs.question_file.url }}" class="img-fluid" alt="Question Image">
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        {% empty %}
            <p>No questions available.</p>
            
        {% endfor %}
    </div>

{% endblock %}