{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <p>Hello, {{ request.user }}!</p>
    <h3>Welcome to Quizfinity: Where Knowledge Meets Fun!</h3>

    <p>Embark on an exciting journey of learning and quizzing with Quizfinity! Explore a world of fascinating quizzes, test your knowledge, and challenge your intellect. Whether you're a trivia enthusiast or a curious learner, Quizfinity is your gateway to endless quizzes on diverse topics. Join us today and let the quest for knowledge begin!</p>
    
   
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>



{% endblock %}
