{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-4 mb-4">Edit Task</h1>
            <h6><b>Last Updated:</b> {{last_updated}}</h6>
            <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% comment %} {{ photo_form.as_p }} {% endcomment %}
                
                {% comment %} {% for image in images %}
                    <img src="{{ image.image.url }}" alt="{{ image.description }}" class="img-fluid" style="width: 200px; height:150px; margin: 5px">
                {% endfor %} {% endcomment %}


                <button type="submit" class="btn btn-primary mt-3">Save</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
