<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>


    <title>{% block title %}My Educational Platform{% endblock %}</title>

    <style>
        /* Your custom styles here */
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Onebyzero Edu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contribute
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'add_question' %}">Question</a></li>
                                <li><a class="dropdown-item" href="#">Book</a></li>
                                {% comment %} <li><hr class="dropdown-divider"></li> {% endcomment %}
                                <li><a class="dropdown-item" href="#">Lecture Slide</a></li>
                                <li><a class="dropdown-item" href="#">Note</a></li>
                                {% comment %} <li><a class a class="dropdown-item" href="#">Another</a></li> {% endcomment %}
                            </ul>
                        {% comment %} </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'my_department' department_id course_id %}">My Department</a>
                        </li> {% endcomment %}
                        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'university_detail' 2 %}">University</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">My Department</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ year }} Onebyzero Edu</p>
    </footer>


    <script>
        $(document).ready(function () {
            $('#id_university').change(function () {
                var universityId = $(this).val();
                $.ajax({
                    url: '/get_departments/',
                    data: {
                        'university_id': universityId
                    },
                    dataType: 'json',
                    success: function (data) {
                        var departmentSelect = $('#id_department');
                        departmentSelect.empty();
                        departmentSelect.append('<option value="">Select a department</option>');
                        $.each(data, function (key, value) {
                            departmentSelect.append('<option value="' + value.value + '">' + value.label + '</option>');
                        });
                    }
                });
            });
        });
    </script>

</body>
</html>
    